@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.woff");
}

@font-face {
  font-family: "Open Sans SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.woff");
}



header {
  background-color: #FFDFEE;
  height: 30px;
  font-family: 'Open Sans Light',sans-serif;
  padding-left: 24px;
  line-height: 24px;
  font-size: 16px;
}

header .title {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 200;
}


footer {
  font-family: 'Open Sans Light', sans-serif;
  font-style: italic;
  font-size: 12px;
  padding-left: 24px;
}

body {
  font: 14px/1.5 'Open Sans',sans-serif;
  color: #4D4E53;
  margin: 0px;
  background-color: #FAFAFA;
}

h1, h2, h3, h4 {
  font-weight: 200;
  margin-bottom: 12px;
  font-family: 'Open Sans Light',sans-serif;
}

h1 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 30px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  letter-spacing: -0.5px;
}

h2, h3, h4 {
  line-height: 100%;
}

pre, code {
  font: 100% 'Courier New','Andale Mono',monospace;
}

article {
  padding-left: 24px;
}

dl {
  padding-left: 24px;
}

a:link:hover, a:link:focus, a:link:active {
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(5, 124, 200);
}

.type {
  font-family: 'Open Sans SemiBold', sans-serif;
}

.defval {
  font-style: italic;
  font-family: 'Open Sans Light', sans-serif;
}

.note {
  background: rgba(231, 228, 157, 0.25);
  color: rgba(0, 0, 0, 0.65);
  font-style: italic;
  border-color: rgba(231, 228, 157, 0.15);
  border-style: solid;
  border-width: 5px;
  line-height: 1.5em;
}

.crumbs {
  font-size: 12px;
}

#document {
}

.box {
  display: flex;
}

#content {
  padding-left: 24px;
  padding-top: 10px;
  padding-right: 3%;
  order: 1;
}

#navi {
  padding-left: 3%;
  font-size: 12px;
  padding-top: 10px;
  width: 22.5%;
  order: 0;
  background-color: #F4F7F8;
}

#navi .title {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

#navi ul {
  padding-top: 3px;
  padding-left: 13px;
  list-style-type: none;
}



pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 80%;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}


table {
  overflow:hidden;
  border:1px solid #d3d3d3;
  background:#fefefe;
  width:70%;
  font: 14px/1.5 'Open Sans',sans-serif;
  -moz-border-radius:5px; /* FF1+ */
  -webkit-border-radius:5px; /* Saf3-4 */
  border-radius:5px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {padding:18px 28px 18px; text-align:center; }

th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

tr.odd-row td {background:#f6f6f6;}

td.first, th.first {text-align:left}

td.last {border-right:none;}

/*
Background gradients are completely unnessary but a neat effect.
*/

td {
  background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd-row td {
  background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
  background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

/*
I know this is annoying, but we need dditional styling so webkit will recognize rounded corners on background elements.
Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/

tr:first-child th.first {
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

